* {
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: sans-serif;
}

body {
    background: radial-gradient( #000 0%, rgb(223, 60, 60) 100%);
    color: white;
    text-align: center;
    margin-top: 2rem;
}

img {
    border-style: groove;
    border-width: 2px;
    border-top-right-radius: 10000%;
    border-top-left-radius: 10000%;
    border-bottom-left-radius: 10000%;
    border-bottom-right-radius: 10000%;
    margin-inline: auto;
}

h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: xx-large;
    opacity: .99;
}

p {
    margin-bottom: 15px;
    opacity: 0.7;
}

input {
    margin-top: 5px;
    display: block;
    margin-inline: auto;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
}

input {
    border-style: groove;
    border-width: 2px;
    margin-bottom: 7px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #7a0000;
	background:linear-gradient(to bottom, #eb3d3d 5%, #ba2b2b 100%);
	background-color:#eb3d3d;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:15px 59px;
	text-decoration:none;
	text-shadow:0px 1px 0px #632828;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ba2b2b 5%, #eb3d3d 100%);
	background-color:#ba2b2b;
}
.myButton:active {
	position:relative;
	top:1px;
}

button:hover {
    filter: brightness(0.2);
    cursor: pointer;
}

#resposta div {
    margin-top: 12px;
    margin-bottom: 3px;
    opacity: 0.7;
}